### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
import warnings
warnings.filterwarnings("ignore")

### Load test dataset

In [3]:
test_data = pd.read_excel('test/test.xlsx')
test_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [4]:
test_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [5]:
test_data.dropna(inplace=True,axis=0)
test_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [6]:
pd.to_datetime(test_data.Date_of_Journey, format='%d/%m/%Y').dt.day

0        6
1       12
2       21
3       21
4       24
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 2671, dtype: int64

In [7]:
test_data['Journey_day'] = pd.to_datetime(test_data.Date_of_Journey, format='%d/%m/%Y').dt.day
test_data['Journey_month'] = pd.to_datetime(test_data.Date_of_Journey, format='%d/%m/%Y').dt.month

In [8]:
test_data['Journey_year'] = pd.to_datetime(test_data.Date_of_Journey, format='%d/%m/%Y').dt.year

In [9]:
test_data.drop(columns=['Date_of_Journey'], axis=1, inplace=True)

In [10]:
test_data.shape

(2671, 12)

In [11]:
# Extracting hour
test_data['Dep_hour'] = pd.to_datetime(test_data.Dep_Time,format='%H:%M').dt.hour
# Extracting minutes
test_data['Dep_min'] = pd.to_datetime(test_data.Dep_Time, format='%H:%M').dt.minute

In [12]:
test_data.drop(columns=['Dep_Time'],axis=1,inplace=True)

In [13]:
test_data.shape

(2671, 13)

In [14]:
# Extracting hour
test_data['Arrival_hour'] = pd.to_datetime(test_data.Arrival_Time).dt.hour
# Extracting Minutes
test_data['Arrival_min'] = pd.to_datetime(test_data.Arrival_Time).dt.minute

In [15]:
test_data = test_data.reset_index(drop=True)

In [16]:
test_data.shape

(2671, 15)

In [17]:
def format_arrival_time(arrival_time):
    test_data['Arrival_day'] = 0
    test_data['Arrival_month'] = 0
    for i in range(arrival_time.shape[0]):
        try:
            test_data['Arrival_day'][i] = pd.to_datetime(arrival_time[i],format='%H:%M %d %b').day
            test_data['Arrival_month'][i] = pd.to_datetime(arrival_time[i],format='%H:%M %d %b').month
        except:
            test_data['Arrival_day'][i] = test_data.Journey_day[i]
            test_data['Arrival_month'][i] = test_data.Journey_month[i]

In [18]:
format_arrival_time(test_data.Arrival_Time)

In [19]:
test_data.shape

(2671, 17)

In [20]:
count = 0
for i in range(0,test_data.shape[0]):
    if test_data.Journey_day[i] > test_data.Arrival_day[i]:
        count += 1
print("Number of false day data in Arrival_day: ",count)

Number of false day data in Arrival_day:  23

In [21]:
test_data_new_false = test_data[test_data.Journey_day > test_data.Arrival_day]
test_data_new_false['Error_by_days'] = test_data_new_false.Arrival_day - test_data_new_false.Journey_day
test_data_new_false

,Airline,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_day,Journey_month,Journey_year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_day,Arrival_month,Error_by_days
22,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,09:00 16 Mar,11h 35m,1 stop,In-flight meal not included,18,3,2019,21,25,9,0,16,3,-2
174,Air India,Banglore,New Delhi,BLR → BOM → NAG → DEL,10:35 16 Mar,25h 45m,2 stops,No info,18,3,2019,8,50,10,35,16,3,-2
299,Air India,Banglore,New Delhi,BLR → BOM → IDR → DEL,11:10 16 Mar,26h 20m,2 stops,No info,18,3,2019,8,50,11,10,16,3,-2
322,Air India,Banglore,New Delhi,BLR → BOM → DEL,10:15 19 Mar,15h 5m,1 stop,No info,21,3,2019,19,10,10,15,19,3,-2
357,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21:20 16 Mar,22h 30m,1 stop,In-flight meal not included,18,3,2019,22,50,21,20,16,3,-2
418,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,10:25 16 Mar,13h,1 stop,In-flight meal not included,18,3,2019,21,25,10,25,16,3,-2
575,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,07:40 19 Mar,14h 45m,1 stop,In-flight meal not included,21,3,2019,16,55,7,40,19,3,-2
677,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,23:00 16 Mar,24h 10m,1 stop,No info,18,3,2019,22,50,23,0,16,3,-2
1106,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,10:25 19 Mar,15h 45m,1 stop,In-flight meal not included,21,3,2019,18,40,10,25,19,3,-2
1163,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,05:05 16 Mar,7h 40m,1 stop,No info,18,3,2019,21,25,5,5,16,3,-2
1550,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,10:25 16 Mar,11h 35m,1 stop,No info,18,3,2019,22,50,10,25,16,3,-2
1577,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,09:30 16 Mar,16h 35m,1 stop,In-flight meal not included,18,3,2019,16,55,9,30,16,3,-2
1609,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:15 16 Mar,10h 50m,1 stop,In-flight meal not included,18,3,2019,21,25,8,15,16,3,-2
1656,IndiGo,Banglore,New Delhi,BLR → DEL,02:20 19 Mar,2h 50m,non-stop,No info,21,3,2019,23,30,2,20,19,3,-2
1658,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,05:05 16 Mar,12h 10m,1 stop,No info,18,3,2019,16,55,5,5,16,3,-2
1842,Vistara,Banglore,New Delhi,BLR → AMD → DEL,10:25 19 Mar,27h 45m,1 stop,No info,21,3,2019,6,40,10,25,19,3,-2
1914,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,07:40 16 Mar,17h 35m,1 stop,No info,18,3,2019,14,5,7,40,16,3,-2
2061,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:15 16 Mar,10h 50m,1 stop,No info,18,3,2019,21,25,8,15,16,3,-2
2099,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,09:30 16 Mar,12h 5m,1 stop,In-flight meal not included,18,3,2019,21,25,9,30,16,3,-2
2292,IndiGo,Banglore,New Delhi,BLR → DEL,00:15 19 Mar,2h 55m,non-stop,No info,21,3,2019,21,20,0,15,19,3,-2
2426,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,07:40 16 Mar,8h 50m,1 stop,No info,18,3,2019,22,50,7,40,16,3,-2
2558,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,10:25 19 Mar,13h,1 stop,In-flight meal not included,21,3,2019,21,25,10,25,19,3,-2
2596,Vistara,Banglore,New Delhi,BLR → DEL,00:05 22 Mar,2h 55m,non-stop,No info,24,3,2019,21,10,0,5,22,3,-2

In [22]:
test_data_new_false.shape

(23, 18)

In [23]:
for i in range(0,test_data.shape[0]):
    if test_data.Journey_day[i] > test_data.Arrival_day[i]:
        test_data.drop(index=i,axis=0 ,inplace=True)

In [24]:
test_data = test_data.reset_index(drop=True)

In [25]:
count = 0
for i in range(0,test_data.shape[0]):
    if test_data.Journey_day[i] > test_data.Arrival_day[i]:
        count += 1
print("Number of false day data in Arrival_day: ",count)

Number of false day data in Arrival_day:  0

In [26]:
test_data.drop(columns=['Arrival_Time'],axis=1,inplace=True)

In [27]:
test_data.shape

(2648, 16)

In [28]:
def transform_duraion(duration):
    test_data['Duration_hours'] = 0
    test_data['Duration_mins'] = 0
    for i in range(duration.shape[0]):
        if len(duration[i].split()) != 2: # Check if the duration contains both hour and mins
            if 'h' in duration[i]:
                duration[i] = duration[i].strip() + ' 0m' # Add 0 minute
            else:
                duration[i] = '0h ' + duration[i].strip() # Add 0 hour
                
        test_data['Duration_hours'][i] = int(duration[i].split(sep='h')[0])
        test_data['Duration_mins'][i] = int(duration[i].split(sep='m')[0].split()[-1])

In [29]:
transform_duraion(test_data.Duration)

In [30]:
test_data.shape

(2648, 18)

In [31]:
test_data.drop(columns=['Duration'],axis=1,inplace=True)

In [32]:
test_data.head(2)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Journey_day,Journey_month,Journey_year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_day,Arrival_month,Duration_hours,Duration_mins
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,1 stop,No info,6,6,2019,17,30,4,25,7,6,10,55
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,1 stop,No info,12,5,2019,6,20,10,20,12,5,4,0

In [33]:
test_data.shape

(2648, 17)

In [34]:
Airline = test_data[['Airline']]

In [35]:
Airline = pd.get_dummies(Airline, drop_first=True) # dropping one column to save us from dummy variable trap

In [36]:
Airline.head()

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0

### our Airline column is missing Airline_Trujet

Therefore we'll add this column

In [37]:
Airline.insert(len(Airline.columns)-2,'Airline_Trujet',[0]*Airline.shape[0])

In [38]:
Airline.head()

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0

In [39]:
Airline.shape

(2648, 11)

In [40]:
Source = test_data[['Source']]
Source = pd.get_dummies(Source, drop_first=True) # dropping one column to save us from dummy variable trap

In [41]:
Source.head()

   Source_Chennai  Source_Delhi  Source_Kolkata  Source_Mumbai
0               0             1               0              0
1               0             0               1              0
2               0             1               0              0
3               0             1               0              0
4               0             0               0              0

In [42]:
Destination = test_data[['Destination']]
Destination = pd.get_dummies(Destination, drop_first=True) # dropping one column to save us from dummy variable trap
Destination.head()

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,0,0,0,0
1,0,0,0,0,0
2,1,0,0,0,0
3,1,0,0,0,0
4,0,1,0,0,0

In [43]:
test_data.drop(columns=['Route'],axis=1, inplace=True)

In [44]:
test_data.shape

(2648, 16)

In [45]:
test_data.drop(columns=['Additional_Info'],axis=1, inplace=True)

In [46]:
test_data.shape

(2648, 15)

In [47]:
test_data.replace({'non-stop': 0,
                    '1 stop':1,
                    '2 stops':2,
                    '3 stops':3,
                    '4 stops':4
                   }, inplace=True)

In [48]:
test_data.shape

(2648, 15)

In [49]:
data_test = pd.concat([test_data, Airline, Source, Destination], axis=1)

In [50]:
data_test.drop(columns=['Airline','Source','Destination'], axis=1, inplace=True)

In [51]:
data_test.shape

(2648, 32)

In [52]:
data_test.head()

,Total_Stops,Journey_day,Journey_month,Journey_year,Dep_hour,Dep_min,Arrival_hour,Arrival_min,Arrival_day,Arrival_month,...,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,6,6,2019,17,30,4,25,7,6,...,0,0,1,0,0,1,0,0,0,0
1,1,12,5,2019,6,20,10,20,12,5,...,0,0,0,1,0,0,0,0,0,0
2,1,21,5,2019,19,15,19,0,22,5,...,0,0,1,0,0,1,0,0,0,0
3,1,21,5,2019,8,0,21,0,21,5,...,0,0,1,0,0,1,0,0,0,0
4,0,24,6,2019,23,55,2,45,25,6,...,0,0,0,0,0,0,1,0,0,0

In [53]:
data_test.drop(columns=['Journey_year'],axis=1, inplace=True)

In [54]:
data_test.shape

(2648, 31)